# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Debug/
.idea/
.settings/
.vs/
cmake-build-debug/
Makefile
yalex.config
yalex.creator
yalex.creator.user
yalex.files
yalex.includes
yalex.sln
yalex.vc*
CMakeLists.txt.user

build/